{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'stilo.css' %}">
    <title>Prediccion de Flores</title>
</head>
<body>
    {% block content %}
    <form method="POST" enctype="multipart/form-data" action="/apiSNN/test/" id="FIngreso">
        {% csrf_token %}
        <h1>Prediccion de Flores con CNN:</h1>
        <input type="file" id="archivo" name="archivo"><br>
        <br>
        <input type="submit" value="PREDECIR IMAGEN.">
    </form>
    {% endblock %}
</body>
</html>