{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>

</head>
<body>

<form action="/apiSNN/predecir/" method="post">
    {% csrf_token %}
    <p>Clase de Ticket (1-3):
    <input type="number" name="pclass"></p>
    <p>Sexo:
        <input type="radio" name="sex" value="male"> Hombre
        <input type="radio" name="sex" value="female"> Mujer
    </p>
    <p>Edad:
    <input type="number" name="age"></p>
    <p>Tarifa:
    <input type="number" name="fare"></p>
    <p>Puerto de Embarque (C, S o Q):
    <input type="text" name="embarked"></p>
    <p><input type="submit" value="PREDECIR"></p>
</form>
</body>
</html>